<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Chapter Title (Third World_Third Cinema)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../CSS/redtitle.css" rel="stylesheet" type="text/css">

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features, myWidth, myHeight, isCenter) { //v3.0
  if(window.screen)if(isCenter)if(isCenter=="true"){
    var myLeft = (screen.width-myWidth)/2;
    var myTop = (screen.height-myHeight)/2;
    features+=(features!='')?',':'';
    features+=',left='+myLeft+',top='+myTop;
  }
  window.open(theURL,winName,features+((features!='')?',':'')+'width='+myWidth+',height='+myHeight);
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body 
	  bgcolor="#000000" 
	  text="#000000" 
	  link="#000000" 
	  vlink="#000000" 
	  alink="#000000" 
	  leftmargin="5"
	  topmargin="5" 
	  marginwidth="5" 
	  marginheight="5"
	  onLoad="MM_preloadImages('','','')">

	  
<table width="730" border="0" cellpadding="0" cellspacing="0" bgcolor="#339900" align="center">
  
<tr>
<a name="top"></a>
  <td rowspan="2" align="center" width="90"valign="center">
  	  <img src="../images/LOGO.gif" width="90" height="65" border="0">
  </td>  
  <td width="640" colspan="3"align="left">
	  <span class="tiny"><br><br><br><br></span>
	  <span class="thirdwor">third world</span>
	  <span class="thirdcin">thirdcinema</span>
  </td>  
</tr> 
  
<tr>
  <td width="640" colspan="3" align="left">
	<a href="../homepage/homepage.html" class="navbary">homepage</a>
	<a href="../africa/africa.html" class="navbary">africa</a> 
	<a href="../latin-a/latin-a.html" class="navbarS">latin-america</a>
	<a href="../india/india.html" class="navbary">india</a>      
	<a href="../theories/theories.html" class="navbary">theories</a> 
	<a href="../chronology/chronology.html" class="navbary">history</a> 
	<a href="../glossary/glossary.html" class="navbary">glossary</a> 
	<a href="../links/links.html" class="navbary">links</a> 
	<a href="../contact/contact.html" class="navbary">contact</a>
  </td> 
</tr>

<tr>
<a name="x"></a>
   <td width="90">
   	   <img src="../images/spacer_BL.gif" width="90" height="35" alt="" border="0"></td>
   <td width="60">
   	   <img src="../images/spacer_BL.gif" width="60" height="35" alt="" border="0"></td>
   <td width="350">
   	   <img src="../images/spacer_BL.gif" width="350" height="35" alt="" border="0"></td>
   <td width="230">
   	   <img src="../images/spacer_BL.gif" width="230" height="35" alt="" border="0"></td>
</tr>

<tr>	  
    <td rowspan="2" colspan="2" valign="top" bgcolor="#FFCC00">
		<p class="menuy"><a href="#x" class="menus">x</a></p>      
    	<p class="menuy"><a href="#x" class="menu">x</a></p>      
    </td>
    
	<td class="bodyy" rowspan="2">
		<p class="titley">section title</p>
     	<p>Many of the countries of Central and South America had achieved independence
     	in the C19th. However, they remained dominated by powerful countries
     	like Britain and most especially the United States. This sometimes
     	took the form of direct military intervention, as in the case of Cuba
     	or Dominique. More commonly, the US dominated through political and
     	economic means. Thus, the Organization of American States set up in
     	1954 served as a conduit and forum for political lines emanating from
     	Washington.</p>
    </td>	  
	
	<td valign="top" align="center" class="bodyi">
	<!--IMAGE TEMPLATE
		<br>
		<br>
		<p><a href="javascript:MM_openBrWindow('example.html','' ,'' , '702', '512', 'true')" 
		onMouseOut="MM_swapImgRestore()" 
		onMouseOver="MM_swapImage('example','','aexample_TN_RO.gif',1)">
		<img src="example_TN.gif" alt="Shot from 'example'" 
		name="example" width="190" height="115" border="0"></a></p>	
		<br>
	!-->
    </td>	
</tr>

<tr>    
	<td class="bodyL">
	<!--INTERNAL LINK TEMPLATE
		<p><a href="javascript:MM_openBrWindow('x.html','', 'scrollbars=yes,resizable=yes', '490', '500', 'true')" class="bodylink"> AFRICA CHRONOLOGY</a><br>
		<span class="linknotes">internal link</span></a></p>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="cc9900" height="150" colspan="3" valign="top">
		<br>
		<p class="menux"><a href="#top" class="menux">back to top</a></p>
		<br>
	</td>
			
	<td bgcolor="#CC9900" class="bodyX">
	<!-- EXTERNAL LINK TEMPLATE
		<br>
		<p class="xlink">
		<a href="javascript:MM_openBrWindow('http://www.example.com/' ,'' ,'toolbar,menubar,scrollbars,resizable,directories,status,location,' , '970', '650', 'true')"
		class="xlink">
         www.example.com<br>
		<span class="xnotes">example notes</a></span></p>    
		<br>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="#0000OO" height="5" colspan="4">
	</td>
</tr>

<tr>
<a name="x"></a>
   <td height="35" colspan="4" valign="top" bgcolor="#FFCCOO">
   </td>
</tr>

<tr>	  
    <td rowspan="2" colspan="2" valign="top" bgcolor="#FFCC00">
		<p class="menuy"><a href="#x" class="menus">x</span></a></p>      
    	<p class="menuy"><a href="#x" class="menu">x</a></p>      
    </td>
    
	<td class="bodyy" rowspan="2">
		<p class="titley">section title</p>
     	<p>Many of the countries of Central and South America had achieved independence
     	in the C19th. However, they remained dominated by powerful countries
     	like Britain and most especially the United States. This sometimes
     	took the form of direct military intervention, as in the case of Cuba
     	or Dominique. More commonly, the US dominated through political and
     	economic means. Thus, the Organization of American States set up in
     	1954 served as a conduit and forum for political lines emanating from
     	Washington.</p>
    </td>	  
	
	<td valign="top" align="center" class="bodyi">
	<!--IMAGE TEMPLATE
		<br>
		<br>
		<p><a href="javascript:MM_openBrWindow('example.html','' ,'' , '702', '512', 'true')" 
		onMouseOut="MM_swapImgRestore()" 
		onMouseOver="MM_swapImage('example','','aexample_TN_RO.gif',1)">
		<img src="example_TN.gif" alt="Shot from 'example'" 
		name="example" width="190" height="115" border="0"></a></p>	
		<br>
	!-->
    </td>	
</tr>

<tr>    
	<td class="bodyL">
	<!--INTERNAL LINK TEMPLATE
		<p><a href="javascript:MM_openBrWindow('x.html','', 'scrollbars=yes,resizable=yes', '490', '500', 'true')" class="bodylink"> AFRICA CHRONOLOGY</a><br>
		<span class="linknotes">internal link</span></a></p>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="cc9900" height="150" colspan="3" valign="top">
		<br>
		<p class="menux"><a href="#top" class="menux">back to top</a></p>
		<br>
	</td>
			
	<td bgcolor="#CC9900" class="bodyX">
	<!-- EXTERNAL LINK TEMPLATE
		<br>
		<p class="xlink">
		<a href="javascript:MM_openBrWindow('http://www.example.com/' ,'' ,'toolbar,menubar,scrollbars,resizable,directories,status,location,' , '970', '650', 'true')"
		class="xlink">
         www.example.com<br>
		<span class="xnotes">example notes</a></span></p>    
		<br>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="#0000OO" height="5" colspan="4">
	</td>
</tr>

<tr>
<a name="ChapterWithSubsections"></a>
   <td height="35" colspan="4" valign="top" bgcolor="#FFCCOO">
   </td>
</tr>

<tr>	  
    <td rowspan="2" colspan="2" valign="top" bgcolor="#FFCC00">
		<p class="menuy"><a href="#x" class="menus">x</span></a></p>      
    	<p class="menuy"><a href="#x" class="menu">x</a></p>      
    </td>
    
	<td class="bodyy" rowspan="2">
		<p class="titley">section title</p>
     	<p>Many of the countries of Central and South America had achieved independence
     	in the C19th. However, they remained dominated by powerful countries
     	like Britain and most especially the United States. This sometimes
     	took the form of direct military intervention, as in the case of Cuba
     	or Dominique. More commonly, the US dominated through political and
     	economic means. Thus, the Organization of American States set up in
     	1954 served as a conduit and forum for political lines emanating from
     	Washington.</p>
    </td>	  
	<td valign="top" align="center" class="bodyi">
	<!-- IMAGE TEMPLATE
		<br>
		<br>
		<p><a href="javascript:MM_openBrWindow('example.html','' ,'' , '702', '512', 'true')" 
		onMouseOut="MM_swapImgRestore()" 
		onMouseOver="MM_swapImage('example','','aexample_TN_RO.gif',1)">
		<img src="example_TN.gif" alt="Shot from 'example'" 
		name="example" width="190" height="115" border="0"></a></p>	
		<br>
	!-->
    </td>	
</tr>

<tr>    
	<td class="bodyL">
	<!--INTERNAL LINK TEMPLATE
		<p><a href="javascript:MM_openBrWindow('x.html','', 'scrollbars=yes,resizable=yes', '490', '500', 'true')" class="bodylink"> AFRICA CHRONOLOGY</a><br>
		<span class="linknotes">internal link</span></a></p>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="cc9900" height="150" colspan="3" valign="top">
		<br>
		<p class="menux"><a href="#top" class="menux">back to top</a></p>
		<br>
	</td>
			
	<td bgcolor="#CC9900" class="bodyX">
	<!-- EXTERNAL LINK TEMPLATE
		<br>
		<p class="xlink">
		<a href="javascript:MM_openBrWindow('http://www.example.com/' ,'' ,'toolbar,menubar,scrollbars,resizable,directories,status,location,' , '970', '650', 'true')"
		class="xlink">
         www.example.com<br>
		<span class="xnotes">example notes</a></span></p>    
		<br>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="#0000OO" height="5" colspan="4">
	</td>
</tr>

<tr>
<a name="x"></a>
   <td height="35" colspan="4" valign="top" bgcolor="#FFCCOO">
   </td>   
</tr>

<tr>
<td colspan="2" rowspan="2" valign="top" bgcolor="#FFCC00">
	<p class="menuy"><a href="#x" class="menu">x</a></p>      
    <p class="menuy"><a href="#x" class="menus">x</span></a></p>      
    </td>
    
	<td class="bodyy" rowspan="2">
	<p align="left"><span class="titley"><font color="#996600">x SUBSECTIONS:</font></span></p>
	  <p align="left"><a href="#x" class="navbars"> subsection 1</a>
	  <br>
	  <br>
	  <a href="#subsection2" class="navbary"> subsection 2</a>
	  <br>
	  <br>
	  <br>
	  <p align="left"><span class="titley">subsection 1</span></p>
	  <p>Argentina achieved independence from Spain in 1810. Nevertheless, for most
        nd First Cinema.</p>
	</td>
	
	<td valign="top" align="center" class="bodyi">
	<!-- IMAGE TEMPLATE
		<br>
		<br>
		<p><a href="javascript:MM_openBrWindow('hour-of-furnaces_2.html','' ,'' , '441', '632', 'true')" 
		onMouseOut="MM_swapImgRestore()" 
		onMouseOver="MM_swapImage('Hour2','','hour-of-furnaces_2_TN_RO.gif',1)">
		<img src="hour-of-furnaces_2_TN.gif" alt="Poster for 'Hour of the Furnaces'" 
		name="Hour2" width="190" height="115" border="0"></a></p>
		<br>
	!-->
    </td>
</tr>

<tr>    
	<td class="bodyL">
	<!-- INTERNAL LINK TEMPLATE
		<p><a href="javascript:MM_openBrWindow('x.html','', 'scrollbars=yes,resizable=yes', '490', '500', 'true')" class="bodylink"> AFRICA CHRONOLOGY</a><br>
		<span class="linknotes">internal link</span></a></p>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="cc9900" height="35" colspan="3" valign="top">
		<br>
		<p class="menux"><a href="#top" class="menux">back to top</a></p>
		<br>
	</td>		
	<td bgcolor="#CC9900" class="bodyX">
	<!-- EXTERNAL LINK TEMPLATE
		<br>
		<p class="xlink">
		<a href="javascript:MM_openBrWindow('http://www.example.com/' ,'' ,'toolbar,menubar,scrollbars,resizable,directories,status,location,' , '970', '650', 'true')"
		class="xlink">
         www.example.com<br>
		<span class="xnotes">example notes</a></span></p>    
		<br>
	!-->
	</td>
</tr>

<tr>
<a name="x"></a>
   <td height="35" colspan="4" valign="top" bgcolor="#FFCCOO">
   </td>   
</tr>

<tr>
<td colspan="2" rowspan="2" valign="top" bgcolor="#FFCC00">
	<p class="menuy"><a href="#x" class="menu">x</a></p>      
    <p class="menuy"><a href="#x" class="menus">x</span></a></p>      
    </td>
    
	<td class="bodyy" rowspan="2">
	<p align="left"><span class="titley"><font color="#996600">x SUBSECTIONS:</font></span></p>
	  <p align="left"><a href="#x" class="navbars"> subsection 1</a>
	  <br>
	  <br>
	  <a href="#subsection2" class="navbary"> subsection 2</a>
	  <br>
	  <br>
	  <br>
	  <p align="left"><span class="titley">subsection 1</span></p>
	  <p>Argentina achieved independence from Spain in 1810. Nevertheless, for most
      nd First Cinema.</p>
	  <p></p>
	  <p></p>
	</td>
	
	<td valign="top" align="center" class="bodyi">
	<!-- IMAGE TEMPLATE
	<br>
	<br>
	<p><a href="javascript:MM_openBrWindow('hour-of-furnaces_2.html','' ,'' , '441', '632', 'true')" 
	onMouseOut="MM_swapImgRestore()" 
	onMouseOver="MM_swapImage('Hour2','','hour-of-furnaces_2_TN_RO.gif',1)">
	<img src="hour-of-furnaces_2_TN.gif" alt="Poster for 'Hour of the Furnaces'" 
	name="Hour2" width="190" height="115" border="0"></a></p>
	<br>
	!-->
    </td>
</tr>

<tr>    
	<td class="bodyL">
	<!-- INTERNAL LINK TEMPLATE
		<p><a href="javascript:MM_openBrWindow('x.html','', 'scrollbars=yes,resizable=yes', '490', '500', 'true')" class="bodylink"> AFRICA CHRONOLOGY</a><br>
		<span class="linknotes">internal link</span></a></p>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="cc9900" height="150" colspan="3" valign="top">
		<br>
		<p class="menux"><a href="#top" class="menux">back to top</a></p>
		<br>
	</td>		
	<td bgcolor="#CC9900" class="bodyX">
	<!-- EXTERNAL LINK TEMPLATE
		<br>
		<p class="xlink">
		<a href="javascript:MM_openBrWindow('http://www.example.com/' ,'' ,'toolbar,menubar,scrollbars,resizable,directories,status,location,' , '970', '650', 'true')"
		class="xlink">
         www.example.com<br>
		<span class="xnotes">example notes</a></span></p>    
		<br>
	!-->
	</td>
</tr>

<tr>
	<td bgcolor="#0000OO" height="5" colspan="5">
	</td>
</tr>

</table>
</body>
</html>
