body {
  --theme-ui-colors-primary: #f0f;
  --theme-ui-colors-secondary: #0f0;
  font-family: monospace;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;

  color: var(--theme-ui-colors-text);
  background-color: var(--theme-ui-colors-background);
}

@media (prefers-color-scheme: light) {
  body {
    --theme-ui-colors-text: #000;
    --theme-ui-colors-shadow: #0001;
    --theme-ui-colors-background: #fbfaf2;
    --theme-ui-colors-muted: #f6f6f6;
    --theme-ui-colors-detail: #8989;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --theme-ui-colors-text: #eee;
    --theme-ui-colors-shadow: #eee1;
    --theme-ui-colors-background: #222;
    --theme-ui-colors-muted: #030;
    --theme-ui-colors-detail: #cfc9;
  }
}

a:link,
a:visited {
  border-bottom: 1px solid var(--theme-ui-colors-detail);
  color: var(--theme-ui-colors-text);
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--theme-ui-colors-primary);
  border-bottom: 1px solid transparent;
}

a:active {
  color: var(--theme-ui-colors-secondary);
}

hr {
  border-style: solid;
  border-color: var(--theme-ui-colors-detail);
  border-width: 1px 0 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow: auto;
}

tbody tr:nth-child(2n-1) {
  background-color: var(--theme-ui-colors-shadow);
}

th {
  border-bottom: 1px solid var(--theme-ui-colors-detail);
}

th,
td {
  padding: 0.5rem 1rem 0.5rem 0rem;
}

code {
  background-color: var(--theme-ui-colors-shadow);
  padding: 0.25rem;
}

.prism-code {
  overflow: auto;
  max-width: 100%;
}
